.total_productos{
    background-color: #f5f5f5;
    padding: 3rem 0;
}

.total_selec_productos{
    display: flex;
    justify-content: space-between;
    padding: 1em 3.5em;
    
}

.total_productos__titulo{
  font-weight: 700;
  font-size: 2em;
  color: #464646;
}

.agregar_productos__boton{
    padding: 1em 1em;
    background-color: #2A7AE4;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
}

.seccion_productos{
  position: relative;
  margin-left: 5.5em;
  margin-right: 4.4em;
  padding: .1em 0;
}

.productos_info{
  position: relative;
  bottom: 35px;
}

/*ICONOS CSS*/

.trash_icon{
  position: relative;
  left: 10px;
  bottom: 175px;
  color: #ececec;
  cursor: pointer;
}

.pen_icon{
  position: relative;
  left: 35px;
  bottom: 191px;
  color: #ececec;
  cursor: pointer;
}

/* ----- Responsive para Mobiles ------ */

@media only screen and (max-width: 767px){
  .header__logo{
    width: 150px;
  }

  .fa-solid{
    position: relative;
    padding-left: 1.9em;
  }

  .total_productos{
    padding-top: 2em;
    padding-bottom: 0cd;
  }

  .total_selec_productos{
    display: flex;
    flex-direction: column;
    padding: .3em;
  }

  .total_productos__titulo{
    font-size: 27px;
    margin-bottom: .8em;
  }

  .agregar_productos__boton{
    width: 50%;
  }

  .seccion_productos{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: .7em;
  }

  .trash_icon{
    position: relative;
    width: 5%;
    margin-top: .5em;
    margin-left: 4.5em;
  }

  .pen_icon{
    position: relative;
    width: 5%;
    margin-left: 4.5em;
  }

  .seccion_productos img{
    width: 163px;
    height: 163px;
  }




}