.ver-producto{
    background-color: #f5f5f5;
    padding: 3rem 0;
}

.ver-producto_imagen{
    position: relative;
    margin-left: 5.5em;
}

.ver-producto_container{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 94vw;
  align-items: center;
}

.ver-producto-info{
    grid-column: 2/10;
    padding: 2em;
    padding-right: 5em;
  }

  .ver-producto-info h2{
    font-size: 2.3em;
    color: #343434;
    text-shadow: #343434 .5px 0 .5px;
  }

  .ver-producto-info p{
    margin-top: 1em;
    margin-bottom: 1em;
    color: #343434;
    text-shadow: #343434 .2px 0 .2px;
  }

  .productos_similares_container{
    position: relative;
    margin-left: 5.5em;
    margin-right: 4.4em;
    padding: .1em 0;
    margin-bottom: 5em;
  }

  .total_productos{
      background-color: #f5f5f5;
  }

  .total_selec_productos{
      display: flex;
      justify-content: space-between;
      padding: 1em 3.5em;
      
  }

  .total_productos__titulo{
    font-weight: 700;
    font-size: 2em;
    color: #464646;
  }

/* ----- Responsive para Mobiles ------ */

@media only screen and (max-width: 767px){

  .fa-solid{
    margin-left: 3em;
  }

  .ver-producto{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .ver-producto_container{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ver-producto_imagen{
    width: 100%;
    margin: 0;
  }

  .ver-producto-info{
    padding: 1em;
    width: 100%;
  }
  .ver-producto-info h2{
    font-size: 25px;
    white-space: pre;
  }

  .p-1{
    font-size: 18px;
    font-weight: 600;
  }

  .ver-producto-info p{
    width: 100%;
  }

  .total_selec_productos, .container{
    padding: .5em;
  }

  .productos_similares_container{
    padding: .7em;
    margin: 0;
  }

  .productos_similares_container img{
      width: 163px;
      height: 163px;
  }

}








